# Acceptance Test Report

## Project Size (Phpolar\Phpolar\ProjectSize)
- [x] Source code total size shall be below 4800 bytes
